// Tailwind 或 reset 可放這裡
@tailwind base;
@tailwind components;
@tailwind utilities;

// $primary: #6366f1;

body {
  font-family: 'Noto Sans TC', sans-serif;
}


.btn {
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;

  &:hover {
  }
}
.navy{
  color: #354464;
}

.bg-card.mochas {
  color: #D8DFC2;
  background: url('@/assets/images/bg/bg_mocha_1296x1296.png') no-repeat center/cover;
}
.bg-card.hojicha {
  color: #EAE4DC;
  background: url('@/assets/images/bg/bg_hojicha_1296x1296.png') no-repeat center/cover;
}
.bg-card.yutou {
  color: #F1E8F7;
  background: url('@/assets/images/bg/bg_yutou_1296x1296.png') no-repeat center/cover;
}
.bg-card.lanmei {
  color: #C9E1F3;
  background: url('@/assets/images/bg/bg_lanmei_1296x1296.png') no-repeat center/cover;
}
.bg-card.caomei {
  color: #FCECFF;
  background: url('@/assets/images/bg/bg_caomei_1296x1296.png') no-repeat center/cover;
}

.text-shadow-drak {
  text-shadow:
    0 8px 28px rgba(var(--tsc-rgb),0.5),
    0 2px 6px rgba(var(--tsc-rgb),0.3);
}

.text-shadow-light {
  text-shadow:
    0 0px 28px rgba(var(--light-shadow),0.5),
    0 0px 6px rgba(var(--light-shadow),0.3);
}
