:root {
  --color-base: #3C4753;
  --color-card: #171E26;
  --color-text: #FCECFF;
  --color-button: #CFE6FD;
  --color-button-text: #3C4753;
  --color-danger: #FF6B6D;
  --color-success: #5EFFB1;
  --color-warning: #FFE75E;
  --tsc-rgb: 26, 40, 68;
  --light-shadow: 134, 152, 192;
}
